.Headercard{
    color: black;
    /* width: 200px; */
    position:absolute;
    border: 2px solid #64A1F5;
    top: 50px;
    right: 10px;
    background-color: white;
padding: 10px;
font-size: 16px;
}
#Hcard{
    color: black;
 font-size: 14px;
 margin-bottom: 10px;
}

.logout{
    background-color: #64A1F5;
    cursor: pointer;
}
.card-subtitle{
    margin-bottom: 5px;
}